@model TrabajoPracticoObligatorio2.Models.IndexModelData

@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- Content -->
    <!-- SLIDER -->
    <div id="menu"></div>
    <section>
        <div class="container">
            <ul id="image-list">
                <li>
                    <img src="~/Content/Images/slider/image1.png" alt=""/></li>
                <li>
                    <img src="~/Content/Images/slider/image2.png" alt=""/></li>
                <li>
                    <img src="~/Content/Images/slider/image3.png" alt=""/></li>
            </ul>
        </div>
    </section>

    <!-- SIDE LEFT MENU AND PRODUCTS -->
    <section>
        <div class="container">
            @Html.Partial("Partial/CategoriesViewPartial")
            
            @Html.Partial("Partial/ProductsViewPartial")
            
        </div>
    </section>

    <!-- POPUP -->
    <div class="container">
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popupphoto">
                    <img id="POPImg" src="" alt="">
                </div>
                <div class="popuptext">
                    <center><h1 id="POPName"></h1></center>
                    <h1 id="POPPrice"> Price: </h1>
                    <h1> Descripción: </h1>
                    <p id="POPDescription"></p>
                    <button class="buy-button">Buy</button>
                </div>
                <a class="closepopup" href="#" id="POPClose">X</a>
            </div>
        </div>
    </div>

</main>



@Scripts.Render("~/Scripts/PLUGINS/interactive-list-scroller-loop/jquery.scrolloop.min.js")
@Scripts.Render("~/Scripts/popUpInformation.js")
@Scripts.Render("~/Scripts/sliderFunction.js")
@Scripts.Render("~/Scripts/accordionFunction.js")
