@{
    ViewBag.Title = "MenuViewPartial";
}

<section>
    <div class="container">
        <div class="menu">
            @* <button>@Html.ActionLink("Inicio", "Index", "Home")</button> *@
            @* <button>@Html.ActionLink("Markets", "Market", "Market")</button> *@
            @* <button>@Html.ActionLink("Contact", "Contact", "Contact")</button> *@
            @* *@
            <a href="@Url.Action("Index", "Home")"><button>Inicio</button></a>
            <a href="@Url.Action("Market", "Market")"><button>Mercado</button></a>
            <a href="@Url.Action("Contact", "Contact")"><button>Contacto</button></a>
            
            
            @* <a href="contact.html"><button>Contact</button></a> *@
        </div>
    </div>

</section>