<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/style.css")
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet" />
    @* @RenderSection("Styles", false) *@
    
    @* @Styles.Render("~/Content/css") *@
    @* @Scripts.Render("~/bundles/modernizr") *@
    
    
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
</head>
<body>
    @Html.Partial("Partial/HeaderViewPartial")
    
    @Html.Partial("Partial/MenuViewPartial")

    @RenderBody()

@* <div class="container body-content"> *@
@*          *@
@*         <hr /> *@
@*         <!-- *@
@*         <footer> *@
@*             <p>&copy; @DateTime.Now.Year</p> *@
@*         </footer> *@
@*         --> *@
@*     </div> *@

    @Html.Partial("Partial/FooterViewPartial")    

    
@* @Scripts.Render("~/bundles/jquery") *@
    @* @Scripts.Render("~/bundles/bootstrap") *@
    @RenderSection("scripts", required: false)
</body>
</html>
